# Database
MONGO_USER=mongoadmin
MONGO_PASS=example
MONGO_URI=mongodb://mongoadmin:example@mongo:27017/galaxihire

# API keys
OPENAI_API_KEY=sk_xxx
GROQ_API_KEY=gsk_xxx

# Sentry
SENTRY_DSN=

# JWT
JWT_SECRET=change_this_to_a_strong_secret
